<h1>New cloud</h1>

<%= form_with scope: :cloud, url: '/clouds'  do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :file %>
  <%= form.file_field :file %>

  <%= form.submit 'Create new cloud file' %>
<% end %>

<br>

<div>
  <%= link_to "Back to clouds", clouds_path %>
</div>
